@page "{id:int}"
@model QuantumEncryption.Pages.ReceiveModel
@{
    ViewData["Title"] = "Receive";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<partial name="_header" model="Model.SessionModel" />
<div class="container">

    <main role="main" class="pb-3">
        <div id="msg">

        </div>

        <form method="post" enctype="multipart/form-data">
            
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" asp-for="File" class="custom-file-input" id="inputGroupFile04" required>
                    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" asp-page-handler="Decrypt" type="submit">Decrypt</button>
                </div>
            </div>



        </form>

        <br />
        <br />
        <div class="row">


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sender</th>
                        <th scope="col">Receiver</th>
                        <th scope="col">Date time</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserDatas)
                    {
                    <tr>
                        <th scope="row">@item.UserDataId</th>
                        <td>@item.SenderName</td>
                        <td>@item.ReceiverName</td>
                        <td>@item.SendingDatetime.ToString("yy-MMM-dd")</td>
                        <td><a href="@item.UserDataId?handler=download">Download</a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</div>
@section Scripts{
    <script>


        function getUserKey() {
            var userId = $('#cmb-user option:selected').val();
            if (userId == '0') {
                showAlert('Select Receiver!.', 'danger');
                return;
            }
            $('#ReceiverName').val($('#cmb-user option:selected').text())
            // ajax call here
            $.ajax({
                contentType: "application/json",
                url: '/Send/' + userId + '?handler=Connect',
                type: 'get'
            }).done(function (response) {
                console.log(response);
                $('#ReceiverKey').val(response);
                showAlert('Connected!.', 'success');
            }).fail(function (xhr, status, error) {
                //Ajax request failed.
                var errorMessage = xhr.status + ': ' + xhr.statusText
                //alert('Error - ' + errorMessage);
                showAlert('Unaable to connect!.', 'danger');
            })

        }

        function showAlert(msg,type) {
            var alert='<div class="alert alert-'+ type +' alert-dismissible fade show" role="alert">'+
                '<strong>'+ msg +'</strong> '+
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                    '<span aria-hidden="true">&times;</span>'+
                '</button>'+
            '</div>'
                $('#msg').append(alert);
        }



    </script>

}