@page "{id:int}"
@model QuantumEncryption.Pages.RSAKeyModel
@{
    ViewData["Title"] = "RSAKey";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_header" model="Model.SessionModel" />
<div class="container">
    <main role="main" class="pb-3">
           <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Quantum Key Information</div>
                        <div class="panel-body">

                            @if (!string.IsNullOrEmpty(Model.SessionModel.Binary))
                            {
                                <div class="form-group">
                                    <label>Binary : @Model.SessionModel.Binary </label>
                                </div>
                            }

                            @if (!string.IsNullOrEmpty(Model.SessionModel.Decimal))
                            {
                                <div class="form-group">
                                    <label>Decimal : @Model.SessionModel.Decimal </label>
                                </div>
                            }
                            @*<div class="form-group">
                                <label for="exampleInputPassword1">Q-Key Calculation Speed:</label>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Q-Key Calculation Time:</label>
                            </div>*@
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">RSA Key</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label >P : @Model.SessionModel.P</label> 
                            </div>
                            <div class="form-group">
                               <label >Q : @Model.SessionModel.Q</label>
                            </div>
                            <div class="form-group">
                                <label >Public Key: @Model.SessionModel.UserPublicKey</label>
                            </div>
                            <div class="form-group">
                                <label >Private Key: @Model.SessionModel.UserPrivateKey</label>
                            </div>
                        </div>
                    </div>
                    <a href="/Send" class="btn btn-primary">Proceed For Encryption</a>
                </div>

            </div>

    </main>
</div>

