@page "{id:int}"
@model QuantumEncryption.Pages.SendModel
@{
    ViewData["Title"] = "Send";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_header" model="Model.SessionModel" />
<div class="container">

    <main role="main" class="pb-3">
        <div id="msg">

        </div>
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Encrypt</div>
            <div class="panel-body">

                <form method="post" enctype="multipart/form-data">
                    <div class="form-group ">
                        <label></label>
                        <select class="form-control col-md-12" id="cmb-user" onchange="getUserKey();" name="ReceiverId" required>
                            <option value="0">select User</option>

                            @foreach (var item in Model.LoggedInUsers)
                            {
                                <option value="@item.LoggedInUserId">@item.UserName</option>
                            }
                        </select>
                        @*<button class="btn btn-success" onclick="getUserKey();" type="button">Connect</button>*@
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="hidden" asp-for="ReceiverName" id="ReceiverName" class="custom-file-input">
                            <input type="hidden" asp-for="SenderName" id="SenderName" class="custom-file-input">
                            <input type="hidden" asp-for="ReceiverKey" id="ReceiverKey" class="custom-file-input" required>
                            <input type="file" asp-for="File" class="custom-file-input" id="inputGroupFile04" required>
                            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                        </div>

                    </div>

                    <div class="form-group float-right">
                        <br />
                        <button class="btn btn-primary" id="btn-submit" title="Connect user" disabled asp-page-handler="Encrypt" type="submit">Encrypt</button>
                    </div>

                </form>
            </div>
        </div>
        @if (@ViewData["EncryptionTime"] != null)
        {
            <div class="panel panel-primary">
                <div class="panel-heading text-center">Encryption Time</div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text" disabled name="EncryptionTime" value="@ViewData["EncryptionTime"]" />
                    </div>
                </div>
            </div>
        }
        @if (@ViewData["result"] != null)
        {
            <div class="panel panel-primary">
                <div class="panel-heading text-center">Result</div>
                <div class="panel-body">
                    <div class="form-group">
                        <textarea style="height: 200px;" disabled class="form-control">@ViewData["result"]</textarea>
                    </div>
                </div>
            </div>
        }

        <br />
        <br />
        <div class="row">
            <div class="col-md-12">


                <div class="panel panel-primary">
                    <div class="panel-heading text-center">Sent Data</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Sender</th>
                                    <th scope="col">Receiver</th>
                                    <th scope="col">Date time</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.UserDatas)
                                {
                                    <tr>
                                        <th scope="row">@item.UserDataId</th>
                                        <td>@item.SenderName</td>
                                        <td>@item.ReceiverName</td>
                                        <td>@item.SendingDatetime.ToString("yy-MMM-dd")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
@*<div class="panel panel-primary" id="base-div" style="display:none">
    <div class="panel-heading text-center">CIA BASES</div>
    <div class="panel-body">


    </div>
</div>*@

@section Scripts{
    <script>


        function getUserKey() {
            var userId = $('#cmb-user option:selected').val();
            if (userId == '0') {
                showAlert('Select Receiver!.', 'danger');
                return;
            }
            $('#ReceiverName').val($('#cmb-user option:selected').text())
            // ajax call here
            $.ajax({
                contentType: "application/json",
                url: '/Send/' + userId + '?handler=Connect',
                type: 'get'
            }).done(function (response) {
                console.log(response);
                $('#ReceiverKey').val(response);
                $('#btn-submit').removeAttr('disabled');
                showAlert('Connected!.', 'success');
            }).fail(function (xhr, status, error) {
                //Ajax request failed.
                var errorMessage = xhr.status + ': ' + xhr.statusText
                //alert('Error - ' + errorMessage);
                showAlert('Unaable to connect!.', 'danger');
            })

        }

        function showAlert(msg,type) {
            var alert='<div class="alert alert-'+ type +' alert-dismissible fade show" role="alert">'+
                '<strong>'+ msg +'</strong> '+
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                    '<span aria-hidden="true">&times;</span>'+
                '</button>'+
            '</div>'
                $('#msg').append(alert);
        }



    </script>

}